* {
  background-color: #097bb4;
}

.Mali {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 10px solid #555;
}

h1 {
  text-align: center;
}
.status-container {
  text-align: center;
}

.action-container {
  text-align: center;
}
